<!DOCTYPE html>

<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Pokémonator!</title>
        <link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}" type="image/x-icon">
        <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
        <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap" rel="stylesheet">
    </head>

    <body>
        <div class="game-window">
            <h1 class="title">Pokémonator!</h1>
            <h2>Memorize a Pokémon from first generation for me to guess!<br>
                Forgot info about it? - Click on any Pokémon card to redirect to Pokédex-info!</h2>
            <h1>Click the button down below when you're ready</h1>

            <div class="pokemon-list">
                {% for p in pokemon %}
                <!-- link for Pokémon cards at Pokédex -->
                <a href="https://www.pokemon.com/us/pokedex/{{ p.name | replace('(', '') | replace(')', '') | lower | replace(' ', '-') }}"
                target="_blank" class="pokemon-card">
                    <img src="{{ p.img }}" alt="{{ p.name}}" class="pokemon-img">
                    <p class="pokemon-name">{{ p.num }} {{ p.name }}</p>
                </a>
                {% endfor %}
            </div>
            <h1>Ready?</h1>
            <form action="/start" method="post" id="start">
                <button type="submit" class="button">I'm ready!</button>
            </form>
        </div>
    </body>
</html>